body{
    background-color: #e4f1f5;
    font-family: 'Roboto', sans-serif;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    margin: 0%; 
    color: #1b1d29;
    font-size: 30px;
    font-weight: 500;
}

.header b {
    font-weight: 700;
}

.button {
    background-color: #1b1d29; /* Green */
    color: white;
    width: fit-content;
    padding: 12px 20px 12px 20px;
    height: fit-content;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 10px;
    border-radius: 12px;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 70px;
    color: white;
}

h1 {
    margin-bottom: 0%;
    text-align: center;
}

.card {
    background-color: white;
    width: 400px;
    padding: 5px;
    border-radius: 10px;
}

.button-center {
    display: flex;
    width: 100%;
    justify-content: center;
}